@import "var.scss";
@import "normalize.scss";

/* ============ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  @include main-font;
  background: #EBEBEB;
}

a {
  @include link;
}

.btn {
      padding: 1.3rem 2rem;
      border: none;
      background: rgb(58,236,183);
      background: linear-gradient(180deg, rgba(58,236,183,1) 0%, rgba(0,209,146,1) 100%);
      border-radius: 2rem;
      font-size: 16px;
      font-weight: 400;
      color: $main;
      &-img {
        margin-right: 2rem;
      }
      &:hover {
        background: linear-gradient(0deg, rgba(58,236,183,1) 0%, rgba(0,209,146,1) 100%);
      }
      &:active, &:focus {
        outline: none;
      }
    }

    .fade {
      -webkit-animation-name: fade;
              animation-name: fade;
      -webkit-animation-duration: 2.5s;
              animation-duration: 2.5s;
      -webkit-animation-name: fade;
      -webkit-animation-duration: 2.5s;
    }

    .show {
      display: flex;
    }

    .hide {
      display: none;
    }

.container-fluid {
  padding: 0;
}

@import "blocks/header.scss";
@import "blocks/intro.scss";
@import "blocks/main-content.scss";
@import "player.scss";
@import "book-page.scss";
@import "blocks/footer.scss";


@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}