.footer {
  background: #C1BFFF;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__inner {
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;


    &__img {
      margin-right: 30px;
    }
  }
}

@import "blocks/nav.scss";

.search-us {
  &-title {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
    color: $main;
    margin-bottom: 1.6rem;
  }
  &-media {
    &-link {
      margin-right: 6rem;
    }
  }
}