/* Colors */
/* Mixins */
/* === NAVIGATION === */
.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  margin-right: 80px; }
  .nav__item:last-child {
    margin-right: 0; }

.nav__link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #17213C;
  text-decoration: none;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
  .nav__link:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    -webkit-transform: translateY(38px) scale(0);
    -ms-transform: translateY(38px) scale(0);
    transform: translateY(38px) scale(0);
    background: #2b71d9;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .nav__link:hover {
    color: #2b71d9;
    text-decoration: none; }
    .nav__link:hover:after {
      -webkit-transform: translateY(38px) scale(1);
      -ms-transform: translateY(38px) scale(1);
      transform: translateY(38px) scale(1); }
